.formButton{
  display: block;
  margin-top: 20px;
  width: fit-content;
  border: 1px solid var(--main-bg-color);
  padding: 14px 60px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  transition: 0.2s;
  display: inline-block;
  cursor: pointer;
}
.formButton:hover{
  background: var(--main-bg-color);
  font-weight: 600;
  color: #fff;
}
.contact-content form{
  width: 100%;
}
.contact-content h2{
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #1070af;
  margin-bottom: 15px;
  text-shadow: 0 0 2px #fff;
}
form input[type="text"]{
  width: 100%;
  border: 0;
  outline: none;
  background:#e9ecee;
  color: #74838a;
  border: 1px solid #000;
  padding: 15px;
  margin: 15px 0;
  font-size: 15px;
  border-radius: 6px;
}
form textarea{
  width: 100%;
  border: 0;
  outline: none;
  border: 1px solid #000;
  background:#e9ecee;
  color: #74838a;
  padding: 15px;
  margin: 15px 0;
  font-size: 15px;
  border-radius: 6px;
}
form input::placeholder, form textarea::placeholder{
  color: #74838a;
  font-family: 'Courier New', Courier, monospace;
}